.a-create, .a-create:visited {
  color: rgb(29, 123, 77);
  
}

.a-create:hover {
  color: #fff;
  text-decoration: none;
}

.a-table, .a-table:visited, .a-table:hover {
  color: #000;
  text-decoration: none;
}