<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
  <div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <a class="navbar-brand text-light" href="#">JT Eventos</a>
    
    <div class="spacer"></div>
    
    <div>
      <ul ngbNav #nav="ngbNav" class="navbar-nav flex-grow-1 justify-content-center">
        <li ngbDropdown class="nav-item dropdown">
          <a href (click)="(false)" class="text-light nav-link" ngbDropdownToggle>Administração</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Estabelecimentos</button>
            <button ngbDropdownItem>Tipos de Evento</button>
            <button ngbDropdownItem>Usuários</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                <path d="M7.5 1v7h1V1h-1z" />
                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
              </svg>
              Logoff
            </button>
          </div>
        </li>
        <li [ngbNavItem]="1" class="nav-item">
          <a ngbNavLink class="nav-link text-light">Clientes</a>
          <ng-template ngbNavContent>
            <p>
              <!-- Raw denim you probably haven't heard of them jean shorts Austin.
                  Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                  butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
                  qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                  iphone. Seitan aliquip quis cardigan american apparel, butcher
                  voluptate nisi qui. -->
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" class="nav-item">
          <a ngbNavLink class="nav-link text-light">Eventos</a>
          <ng-template ngbNavContent>
            <p>
              <!-- Exercitation +1 labore velit, blog sartorial PBR leggings next level
                  wes anderson artisan four loko farm-to-table craft beer twee. Qui
                  photo booth letterpress, commodo enim craft beer mlkshk aliquip jean
                  shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                  labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                  yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio
                  cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY
                  ethical culpa terry richardson biodiesel. Art party scenester
                  stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed
                  echo park. -->
            </p>
          </ng-template>
        </li>
        <!-- <li ngbNavItem [disabled]="true" class="ms-auto">
            <a ngbNavLink class="text-light">Bem-vindo, username</a>
        </li> -->
      </ul>
    </div>

    <div class="ms-auto text-light spacer">Bem-vindo, {{ username }}</div>
  </div>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
