.spacer {
  margin: 0 16px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #96bfe8;
  color: #fff;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.nav-link, .nav-link:visited {
  color: #1e2124;
}

.nav-link:hover {
  color: #fff;
}