/* You can add global styles to this file, and also import other style files */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p { margin: 0; }

.content { margin: 82px auto 32px; }

a, a:visited, a:hover {
  color: #1976d2;
  text-decoration: none;
}

.a-table, .a-table:visited, .a-table:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Datepicker */

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused { background-color: #e6e6e6; }

.custom-day.range, .custom-day:hover {
  background-color: #0275d8;
  color: #fff;
}

.custom-day.faded { background-color: #0275d880; }

/* Footers */

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a { align-items: center; }

.container { padding-bottom: 75px; }

/* Modals */

.modal-header { background-color: #e6d9d1; }
