/* You can add global styles to this file, and also import other style files */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

a, a:visited, a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.a-dark, .a-dark:visited, .a-table, .a-table:visited, .a-table:hover {
  color: #000;
  text-decoration: none;
}

.a-success:hover, .a-dark:hover, .a-danger:hover {
  color: #fff;
  text-decoration: none;
}

.a-success, .a-success:visited {
  color: rgb(29, 123, 77);
  text-decoration: none;
}

.a-danger, .a-danger:visited {
  color: rgb(213, 45, 62);
  text-decoration: none;
}