html, body, h1, h2, h3, h4, p, img { margin: 0; }

h1 {
  font-size: 18pt;
  font-weight: 500;
  margin-bottom: 0.5cm;
  text-align: center;
}

h2 {
  font-size: 16pt;
  font-weight: 500;
}

.report, li { font-size: 12pt; }

.items-group {
  border-style: solid;
  border-color: black;
  border-width: 1pt 1pt 1pt 1pt;
  border-radius: 5pt;
  padding: 3pt 3pt 3pt 3pt;
  margin: 9pt 0 9pt 0;
}

.logotipo {
  width: 25%;
  padding: 10px;
}

.label { font-weight: 500; }

.disclaimer { font-size: 10pt; }

.signature-field {
  padding-bottom: 24pt;
  border-bottom: solid black 1pt;
}

.container-fluid { display: none; }
