<div class="btn-toolbar" role="toolbar">
    <div class="btn-group me-2" role="group">
        <button class="btn btn-outline-primary" (click)="createEvent()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
			</svg>&nbsp;
			Cadastrar
        </button>
    </div>

    <h1 class="position-absolute start-50 translate-middle-x">{{ title }}</h1>
</div>

<hr />

<form>
	<div class="mb-3 row">
		<label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Pesquisar:</label>
		<div class="col-xs-3 col-sm-auto">
			<input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
		</div>
	</div>
</form>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Evento</th>
			<th scope="col">Cliente</th>
            <th scope="col">Estabelecimento</th>
            <th scope="col">Data inicial</th>
            <th scope="col">Data final</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let event of events$ | async; index as i">
			<td><ngb-highlight [result]="event.description" [term]="filter.value"></ngb-highlight></td>
			<td><ngb-highlight [result]="event.customerName" [term]="filter.value"></ngb-highlight></td>
			<td><ngb-highlight [result]="event.establishmentDescription" [term]="filter.value"></ngb-highlight></td>
			<td><ngb-highlight [result]="event.startDate" [term]="filter.value"></ngb-highlight></td>
			<td><ngb-highlight [result]="event.finishDate" [term]="filter.value"></ngb-highlight></td>
			<td>
				<a class="a-table" (click)="detailEvent()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
				</a>
			</td>
		</tr>
	</tbody>
</table>
