<div class="modal-header">
  <h5 class="modal-title">Deseja excluir este {{ description }}?</h5>
</div>
<div class="modal-body">
  Todas informações associadas a este registro serão permanentemente removidas.
  <span class="text-danger">Esta operação não poderá ser desfeita.</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Voltar</button>
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Ok click')">Excluir {{ description }}</button>
</div>